{% extends 'base/base.html' %}
{% load static %}

{% block body_content %}


<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img src="{{product.image.url}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{product.title}}</h3>
                    <h2>${{product.discount_price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : Household</a></li>
                        <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    <p>{{product.description}}</p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="{{product.get_quantity}}" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                         class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                         class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    <form action="">

                    <div class="card_area d-flex align-items-center">
                        <input class="primary-button"  onclick="add_to_cart({{product.id}})" type="button" value="Add to Cart">
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>
<!--================End Single Product Area =================-->

{% endblock body_content %}
{% block end_script %}
    <script>
        function add_to_cart(product_id){
            console.log(product_id)
            console.log("Add to cart Button Cliked")
            var quantity = $("#sst").val()
            $.ajax({
                url : "{% url 'add_to_cart_url' %}",
                type: "POST",
                data : {
                    'quantity': quantity,
                    'product_id': product_id,
                },
                headers: {'X-CSRFToken': "{{csrf_token}}"},
                success:function(response){
                    console.log(response['quantity']);
                }  
            })
        }
    </script>
{% endblock end_script%}



